
/*  https://wpthemesgrid.com/themes/free/eshop/
@keyframes slide{
     0% {
        transform: translateX(0);
     }
     25% {
        transform: translateX(0);
     }
     30% {
        transform: translateX(-100%);
     }
     50% {
        transform: translateX(-100%);
     }
     55% {
        transform: translateX(-200%);
     }
     75% {
        transform: translateX(-200%);
     }
     80% {
        transform: translateX(-300%);
     }
     100% {
        transform: translateX(-300%);
     }
} */
.slider {
   position: absolute;
   
   justify-content: center;
   align-items: center;
 }
 
.image {

width:1360px ;

height: auto;
margin-top: 7px;
margin-bottom: 50px;
padding-left: 149px;
padding-right: 145px;
 max-inline-size: 100%;
  block-size: auto;
 }
 
 .right-arrow {
   position: absolute;
   top: 40%;
   right: 69px;
   font-size: 3rem;
   color: rgb(197, 26, 26);
   z-index: 10;
   cursor: pointer;
   user-select: none;
 }
 
 .left-arrow {
   position: absolute;
   top: 40%;
   left: 69px;
   font-size: 3rem;
   color: rgb(44, 33, 33);
   z-index: 10;
   cursor: pointer;
   
   user-select: none;
 }
 
 .slide {
   opacity: 0;
   transition-duration: 1s ease;
 }
 
 .slide.active {
   opacity: 1;
   transition-duration: 1s;
   transform: scale(1.08);
   color: red;
 }
 /* /////////////////////////// */

 .telegram-div{
   display: flex;
   justify-content: center;
   text-align: center;
   box-align: start;
   box-align: center;
   box-align: end;
   box-align: baseline;
   box-align: stretch;
   padding-left:center ;
   margin-bottom: 50px;
 }
 .telegram{
width: 300px; 

cursor: pointer;  
padding: 20px;
margin: 10px;
background:rgb(194, 0, 194);
color: rgb(235, 220, 220);
font-weight: bold;
font-family: Tahoma;
border: 1px solid rgb(194, 0, 194);

 }
 .telegram a{
  text-decoration: none;
  color: rgb(235, 220, 220);
 }
 .about_us{
   text-align: center;
   justify-content: center;
 }
 .about_us span{
   /* text-transform: uppercase; */
   font-size: 28px;
   font-weight: bold;
 }
 .about_us p{
   /* text-transform: uppercase; */
   margin-top: 15px;
   display: flex;
   align-items: center;
   text-align: center;
   margin-left: auto;
   margin-right: auto;
   width: 400px;
   font-size: 19px;
 }
.line{
  font-size: 27px;
  color: rgb(20, 82, 214);
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  position: relative;
  padding-bottom: 15px;
  
}
.line::before{
  
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  bottom: 1px;
  left: calc(50% - 60px);
  background: rgb(20, 19, 19);
}
.line::after{
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  bottom: 0px;
  left: calc(50% - 20px);
  background: rgb(24, 210, 110);
}
/* /////////////////////////////////////////// animetion  */
.static_div{
  gap: 10px;
  position: relative;
  justify-content: center;
  align-items: center;
  color: rgb(171, 168, 0);
  display: flex;
  margin-top: 25px;
  font-size: 28px;
  font-weight: bold;
}

/* //////////////////// profile/ */
.profile{
display: flex;
gap: 100px;
}

.about_us h4{
  margin-top: 10px;
  margin-bottom: 30px; 
}
@media screen and (max-width:980px) {
    .profile{
      display: inline;
    }
}
/* ////////////////////////////////////// */
.deling {
  text-align: center ;
  justify-content: center;
  color: red;
  font-weight: bold;
}
/* .deling_type_1 h4{
margin-right:100px ;
} */
#deling_4{
  margin-right:100px ;
  text-align: center;
  justify-content: center;
  display: flex;
  right: 50px;
  position:absolute;
  color: green;
  /* margin-right: 10rem; */
}
.deling_type{
   text-align: center ;
  justify-content: center;
  display: block;
  position:absolute ;
  font-size: 19px;
  gap: 100px;
   padding-left: 9rem ;
 /*padding-right: 40rem; */
}
.hr_line{
  
  background: rgb(12, 70, 71);
  height: 2px;
   border: none ;
  
   width:62rem;
   margin:auto;

   margin-top: 41px;
   margin-bottom: 14px;
}
@media screen and (max-width:1100px) {
  .deling_type{
    text-align: center ;
    justify-content: center;
    gap: 100px;
  padding-left: 9rem ;
  /* padding-right: 35rem ; */
  }
  #deling_4{
    right: 28px;
    position:absolute;
    color: rgb(27, 32, 27);
  }
  .hr_line{
    width:52rem;
 
  }
}
@media screen and (max-width:980px) {
  .deling_type{
    text-align: center ;
    justify-content: center;
    gap: 60px;
  padding-left: 6rem;
  /* padding-right: 25rem; */
  }
  #deling_4{
    right: 25px;
    position:absolute;
  }
  .hr_line{
    width:42rem;
  }
}
@media screen and (max-width:780px) {
  .deling_type{
    text-align: center ;
    justify-content: center;
    gap: 40px ;
  padding-left: 4rem;
  position: absolute;
  /* padding-right: 15rem; */
  }
  #deling_4{
    right: 20px;
    position:absolute;
  }
  .hr_line{
    width:32rem;
  }

}
@media screen and (max-width:580px) {
  .deling_type{
    text-align: center ;
    justify-content: center;
    gap: 30px;
  padding-left: 2.9rem;
  /* padding-right: 12rem; */
  }
  /* .telegram{
    font-size:15px;
    width: 100px; 
  padding: 6px 30px;
  background-color: green;
  } */
  #deling_4{
    right: 20px;
    position:absolute;
  }
  .hr_line{
    width:22rem;
  }

}
@media screen and (max-width:480px) {
  .telegram{
    font-size:15px;
    width: 100px; 
  padding: 6px 30px;
  background-color: red;
  width: 100px;
  }
}

@media screen and (max-width:327px) {
  .deling_type{
  
    gap: 10px;
  padding-left: 1.5rem;
  padding-right: 5rem;
  }
  .telegram{
    font-size:15px;
    width: 100px; 
  padding: 6px 30px;
  background-color: red;
  width: 70px;
  }
  .hr_line{
    width:12rem;
  }
}
/* style={{}} 
style={{background: "rgb(12, 70, 71)", height: "5px", border: "none" ,marginTop:'100px,width:'50rem,margin:'auto}} 
style={{background: "rgb(12, 70, 71)", height: "5px", border: "none" ,marginTop:'100px,width:'50rem,margin:'auto}} 
style={{background: "rgb(12, 70, 71)", height: "5px", border: "none" ,marginTop:'100px,width:'50rem,margin:'auto}}  */